.gallery {
	$self: &;
	background: url('#{$images-path}gallery-bg-top.png') left top / auto no-repeat, url('#{$images-path}gallery-bg-bottom.png') right bottom / auto no-repeat, linear-gradient(#FFDBD6 0%, #FFDBD6 100%);
	padding-bottom: 45px;
	overflow: hidden;

	&__flyer-1 {
		background: url('#{$images-path}flyer-9.png') center / contain no-repeat transparent;
		height: 220px;
		width: 215px;
		position: absolute;
		top: 90px;
		right: -15px;
	}

	&__flyer-2 {
		background: url('#{$images-path}flyer-10.png') center / contain no-repeat transparent;
		height: 130px;
		width: 120px;
		position: absolute;
		top: 635px;
		left: 70px;
	}

	&__flyer-3 {
		background: url('#{$images-path}flyer-11.png') center / contain no-repeat transparent;
		height: 115px;
		width: 125px;
		position: absolute;
		top: 795px;
		right: -95px;
	}

	&__flyer-4 {
		background: url('#{$images-path}flyer-12.png') center / contain no-repeat transparent;
		width: 130px;
		height: 60px;
		position: absolute;
		bottom: 575px;
		left: -85px;
	}

	&__flyer-5 {
		background: url('#{$images-path}flyer-13.png') center / contain no-repeat transparent;
		width: 50px;
		height: 50px;
		position: absolute;
		bottom: 340px;
		right: 60px;
	}

	&__inner {
		position: relative;
		padding-bottom: 90px;
		padding-top: 70px;
	}

	&__top {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		margin-bottom: 75px;
	}

	&__top-title {
		grid-column: span 3;
	}
	
	&__top-text {
		grid-column: 5 / span 6;
		max-width: 620px;
		line-height: 1.5;
		margin: 0 auto;
		
		@include media('<=xlg') {
			grid-column: 6 / span 6;
		}
	}

	&__cards {
		max-width: 840px;
		margin: 0 auto;
		display: grid;
		grid-gap: 40px;
		grid-template-columns: repeat(2, 1fr);
	}

	&__card {
		grid-column: span 1;

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
