.preloader {
	$self: &;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fdffe5;
	
	@keyframes hidePreloader {
		from { opacity: 1; }
		to { opacity: 0; }
	}

	&::before {
		display: block;
		content: '';
		width: 600px;
		height: 300px;
		max-width: 100%;
		background: url('#{$images-path}preloader.gif') center /100% auto no-repeat #fdffe5;
	}

	&_hide {
		animation: hidePreloader 1s;
	}

	&_hidden {
		display: none;
	}
}
