.hero {
	$self: &;
	height: 720px;
	overflow: hidden;
	margin-top: -80px;
	background: url('#{$images-path}hero-clouds.webp') center top / cover no-repeat, url('#{$images-path}hero-landscape.png') center bottom / 100% 100% no-repeat, linear-gradient(to top, #01CCFE, #01CCFE);
	
	@include media('<=xxlg') {
		background: url('#{$images-path}hero-clouds.webp') center top / auto no-repeat, url('#{$images-path}hero-landscape.png') center bottom / auto no-repeat, linear-gradient(to top, #01CCFE, #01CCFE);
	}
	
	@include media('<=md') {
		background: url('#{$images-path}hero-clouds.webp') center top / auto no-repeat, url('#{$images-path}hero-landscape.png') center bottom / auto no-repeat, linear-gradient(to top, #01CCFE, #01CCFE);
	}
	
	@include media('<=xxs') {
		background: url('#{$images-path}hero-clouds.webp') center top / auto no-repeat, url('#{$images-path}hero-landscape.png')  left 30% bottom 34% / auto 60% no-repeat, linear-gradient(to top, #01CCFE, #01CCFE);
		height: 810px;
		max-height: 100vh;
	}

	&__inner {
		position: relative;
		height: 100%;
	}

	&__road {
		position: absolute;
		max-width: none;
		bottom: -70px;
		right: calc(50% + 65px);
		transform: translateX(50%);
		width: 1600px;
		
		@include media('<=xxlg') {
			width: 111vw;
		}
		
		@include media('<=xlg') {
			right: -15px;
			transform: translateX(0);
		}
		
		@include media('<=md') {
			right: -5px;
			bottom: 20px;
		}
		
		@include media('<=xxs') {
			width: 115vw;
			right: 5px;
			bottom: 90px;
		}
	}

	&__comet {
		width: 135px;
		position: absolute;
		top: 30px;
		left: 220px;
		
		@include media('<=xxlg') {
			top: auto;
			bottom: calc(10vw + 435px);
			left:  calc(15vw + 10px);
			width: calc(4vw + 75px);
		}
		
		@include media('<=xxs') {
			transform: scaleX(-1);
			width: calc(4vw + 105px);
			left:  calc(15vw + 160px);
			bottom: auto;
			top: 35px;
		}
	}

	&__bus {
		width: 680px;
		position: absolute;
		bottom: -50px;
		left: calc(50% - 30px);
		transform: translateX(-50%);
		
		@include media('<=xxlg') {
			width: 47vw;
		}
		
		@include media('<=md') {
			left: calc(50% - 50px);
			bottom: 40px;
		}
		
		@include media('<=xxs') {
			left: calc(50% - 60px);
			bottom: 95px;
			width: 49vw;
		}
	}

	&__bubbles {
		width: 670px;
		position: absolute;
		top: 90px;
		left: calc(50% - 80px);
		transform: translateX(-50%);
		
		@include media('<=xxlg') {
			top: auto;
			width: 47vw;
			bottom: calc(30vw - 60px);
		}
		
		@include media('<=md') {
			left: calc(50% - 50px);
			bottom: calc(28vw + 40px);
		}
		
		@include media('<=xxs') {
			bottom: calc(28vw + 100px);
			left: calc(50% - 70px);
			width: 55vw;
		}
	}

	&__bird {
		width: 140px;
		position: absolute;
		top: 90px;
		right: -15px;
		
		@include media('<=xxlg') {
			width: calc(8vw + 30px);
			top: auto;
			right: 30px;
			bottom: calc(40vw - 70px);
		}
		
		@include media('<=md') {
			bottom: calc(40vw + 20px);
		}
		
		@include media('<=xxs') {
			bottom: calc(40vw + 95px);
		}
	}

	&__bird-bubble {
		width: 185px;
		position: absolute;
		top: 10px;
		right: -20px;
		
		@include media('<=xxlg') {
			width: calc(10vw + 35px);
			top: auto;
			right: 25px;
			bottom: calc(45vw - 20px);
		}
		
		@include media('<=md') {
			bottom: calc(45vw + 60px);
		}
		
		@include media('<=xxs') {
			bottom: calc(45vw + 130px);
		}
	}

	&__board {
		position: absolute;
		right: 0px;
		width: 380px;
		bottom: 32%;
		
		@include media('<=xxlg') {
			right: calc(5vw + 5px);
			width: 25vw;
			bottom: calc(24vw - 100px);
		}
		
		@include media('<=md') {
			bottom: calc(23vw + 10px);
		}
		
		@include media('<=xxs') {
			right: calc(5vw + 15px);
			bottom: calc(23vw + 85px);
		}
	}

	&__board-mobile {
		display: none;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: calc(100% - 110px);
		max-width: 245px;
		top: 235px;
		
		@include media('<=xxs') {
			display: block;
		}
		
		@include media('<=xxxs') {
			top: 228px;
		}
	}

	&__cloud-mobile {
		display: none;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: calc(100% - 40px);
		max-width: 325px;
		top: 195px;
		
		@include media('<=xxs') {
			display: block;
		}
	}

	&__panel {
		box-sizing: border-box;
		position: absolute;
		padding: 16px;
		left: 50%;
		bottom: 35px;
		transform: translateX(-50%);
		width: calc(100% - 40px);
		background-color: #000;
		border-radius: 100px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include media('<=md') {
			bottom: 0;
			left: 0;
			transform: none;
			width: 100%;
			border-radius: 0;
			min-height: 100px;
		}
		
		@include media('<=xs') {
			min-height: 90px;
			padding: 20px;
		}
	
		&::before {
			display: block;
			content: '';
			position: absolute;
			left: 50px;
			bottom: 0;
			width: 240px;
			height: 210px;
			align-self: flex-end;
			background: url('#{$images-path}hero-chiwawa.png') left bottom / contain no-repeat transparent;
			
			@include media('<=lg') {
				width: 200px;
				height: 175px;
			}
			
			@include media('<=md') {
				left: 20px;
			}
			
			@include media('<=xs') {
				width: 170px;
				height: 150px;
			}
			
			@include media('<=xxs') {
				width: 140px;
				height: 120px;
			}
			
			@include media('<=xxxs') {
				left: 10px;
				width: 125px;
				height: 105px;
			}
		}
	}

	&__panel-text {
		font-family: "BS", sans-serif;
		font-size: 24px;
		color: #fff;
		font-style: italic;
		margin-left: 330px;
		
		@include media('<=lg') {
			margin-left: 280px;
		}
		
		@include media('<=md') {
			margin-left: 240px;
		}
		
		@include media('<=xs') {
			font-size: 20px;
			margin-left: 200px;
		}
		
		@include media('<=xxs') {
			font-size: 16px;
			margin-left: 170px;
		}
		
		@include media('<=xxxs') {
			font-size: 15px;
			margin-left: 140px;
		}

		span {
			color: #F83821;
		}
	}

	&__panel-button {
		box-sizing: border-box;
		background-color: #F83821;
		height: 64px;
		border-radius: 100px;
		padding: 14px 25px 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: "BS", sans-serif;
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 18px;
		white-space: nowrap;
		
		@include media('<=md') {
			height: 28px;
			width: 56px;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, -35%);
			padding: 0;
			border-radius: 0;
			background: url('#{$images-path}hero-panel-arr.svg') center / contain no-repeat transparent;

			span { display: none; }
		}
		
		@include media('<=xs') {
			height: 23px;
			width: 40px;
		}
		
		@include media('<=xxxs') {
			height: 20px;
			width: 35px;
		}
	}
}
