.partners {
	$self: &;
	overflow: hidden;
	
	&__inner {
		position: relative;
		min-height: 670px;
	}

	&__title {
		display: flex;
		flex-wrap: wrap;
		max-width: 840px;
		margin: 0 auto 100px;

		span:nth-child(2) {
			margin: 0 30px;
			color: #F83821;
			
			@include media('<=xxs') {
				margin: 0 15px;
			}
		}

		span:nth-child(3) {
			margin-left: auto;
		}
	}

	&__type {
		position: absolute;
		top: auto;
		left: 50%;
		z-index: 1;
		height: 90px;
		width: 2000px;
		border: 2px solid black;
		transform-origin: 0;
		// background-position: center;
		// background-size: auto;
		// background-repeat: repeat-x;
		display: flex;
		align-items: center;
		justify-content: center;
		
		@include media('<=xs') {
			height: 50px;
			background-size: 110px auto;
		}

		&_1 {
			background-color: #FDD30F;
			// background-image: url('#{$images-path}partners-type-1.png');
			transform: rotate(16deg) translateX(-50%);
		}
		
		&_2 {
			background-color: #F83821;
			// background-image: url('#{$images-path}partners-type-2.png');
			transform: rotate(-6deg) translateX(-50%);
			box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.3);
		}

		img {
			display: block;
			margin: 0 40px;
		
			@include media('<=xs') {
				max-height: 65%;
			}
		}
	}
}
