.feed {
	$self: &;
	overflow: hidden;
	
	@include media('<=xxs') {
		padding-bottom: 140px;
	}
	
	&_one {
		background: url('#{$images-path}feed-bg-top.png') left 20px top -120px / auto no-repeat, linear-gradient(to top, #FDDF4A 0%, #fffee4 100%);
	}
	
	&_two {
		padding-bottom: 45px;
		background: url('#{$images-path}feed-bg-bottom.png') right -320px top / auto no-repeat, linear-gradient(to bottom, #FDDF4A 0%, #fffee4 100%);
	}

	&__flyer-1 {
		width: 240px;
		position: absolute;
		top: 275px;
		right: -125px;
		
		@include media('<=xs') {
			top: 60px;
			right: -40px;
			width: 110px;
			z-index: 5;
		}
	}

	&__flyer-2 {
		width: 124px;
		position: absolute;
		top: 85px;
		left: 30px;
		
		@include media('<=xs') {
			z-index: 5;
			top: calc(40vw + 100px);
			left: 20px;
			width: 80px;
		}
	}

	&__flyer-3 {
		position: absolute;
		width: 65px;
		left: 130px;
		bottom: 0;
		
		@include media('<=xs') {
			z-index: 5;
			width: 40px;
			top: 710px;
			left: 0;
		}
	}

	&__flyer-4 {
		position: absolute;
		bottom: 120px;
		width: 50px;
		right: 45px;
		
		@include media('<=xs') {
			z-index: 5;
			width: 35px;
			right: 30px;
			top: 370px;
		}
	}

	&__flyer-5 {
		width: 100px;
		position: absolute;
		top: 0;
		right: 100px;
		
		@include media('<=xs') {
			z-index: 5;
			width: 60px;
			top: 0;
			right: 50px;
		}
	}

	&__flyer-6 {
		position: absolute;
		top: 290px;
		width: 90px;
		left: -5px;
		
		@include media('<=xs') {
			z-index: 5;
			bottom: 290px;
			width: 60px;
			left: 20px;
		}
		
		@include media('<=xxs') {
			bottom: 530px;
		}
	}

	&__flyer-7 {
		position: absolute;
		bottom: 215px;
		width: 90px;
		right: 30px;
		
		@include media('<=xs') {
			z-index: 5;
			bottom: 250px;
			width: 60px;
			right: 30px;
		}
	}

	&__flyer-8 {
		position: absolute;
		bottom: -40px;
		width: 110px;
		left: 70px;
		
		@include media('<=lg') {
			bottom: -80px;
			width: 100px;
			left: 100px;
		}
		
		@include media('<=xs') {
			z-index: 5;
			bottom: -70px;
			width: 60px;
			left: 25px;
		}
	}

	&__inner {
		position: relative;
	}

	&__block {

	}

	&__cards {
		padding-top: 135px;
		display: flex;
		justify-content: space-between;
		max-width: 1095px;
		margin: 0 auto 35px;
		
		@include media('<=xs') {
			margin: 0 -100px 35px;
		}
	}

	&__card {
		width: 33.3%;
		position: relative;

		&:nth-child(1) {
			transform: rotate(-10deg) translate(45px, 10px);
			z-index: 3;
		}
		
		&:nth-child(2) {
			z-index: 2;
		}
		
		&:nth-child(3) {
			transform: rotate(10deg) translate(-45px, 10px);
			z-index: 1;
		}
	}

	&__counter {
		max-width: 250px;
		margin: 0 auto 30px;
		font-family: "BS", sans-serif;
		font-size: 20px;
		color: #000;
		text-transform: uppercase;
		display: flex;
		align-items: center;
		justify-content: center;

		span:first-child {
			margin-right: 20px;
		}

		span:last-child {
			color: #F83821;
			font-size: 36px;
		}
	}

	&__text {
		max-width: 840px;
		text-align: center;
		margin: 0 auto 45px;
		font-size: 14px;
		line-height: 1.5;
	}

	&__buttons {
		max-width: 500px;
		margin: 0 auto 85px;
		display: flex;
		justify-content: center;
		
		@include media('<=xxs') {
			margin: 0 auto;
			display: block;
		}
	}

	&__button {
		margin: 0 10px;

		@include media('<=xxs') {
			margin: 0 auto 25px;
		}

		&_round {
			max-width: 67px;
			background: url('#{$images-path}feed-opensea.svg') center / auto no-repeat #FFFEE4;
		}
	}
}
