.header {
	$self: &;
	position: relative;
	z-index: 1;

	&__inner {
		display: flex;
		min-height: 80px;
		padding-right: 185px;

		@include media('<=md') {
			padding-right: 20px;
		}
	}

	&__logo {
		margin-right: 20px;
		display: flex;
		align-items: center;
	}

	&__menu {
		margin: 0 auto;
	}

	&__menu-toggle {

	}
}
