.roadmap {
	$self: &;
	overflow: hidden;
	padding: 190px 0 180px;
	
	@include media('<=lg') {
		padding: 160px 0 180px;
	}
	
	@include media('<=xs') {
		padding: 260px 0 180px;
	}

	&__blaster {
		position: absolute;
		z-index: 1;
		width: 450px;
		top: 265px;
		right: -100px;
		
		@include media('<=sm') {
			width: 360px;
			right: -50px;
			top: -130px;
		}
		
		@include media('<=xs') {
			top: -210px;
		}
		
		@include media('<=xxs') {
			width: 290px;
			right: -30px;
		}
	}

	&__inner {
		position: relative;
		z-index: 2;
	}

	&__top {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		margin-bottom: 73px;
		
		@include media('<=md') {
			display: block;
			margin-bottom: 60px;
		};
		
		@include media('<=xxs') {
			margin-bottom: 40px;
		};
	}

	&__top-title {
		grid-column: span 3;

		@include media('<=md') {
			margin-bottom: 30px;
		};
		
		@include media('<=xxs') {
			margin-bottom: 20px;
		};
	}
	
	&__top-text {
		grid-column: 5 / span 6;
		max-width: 620px;
		line-height: 1.5;
		margin: 0 auto;
		
		@include media('<=xlg') {
			grid-column: 6 / span 6;
		}

		@include media('<=xxs') {
			font-size: 14px;
		};
	}

	&__cards {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-gap: 0 40px;

		@include media('<=sm') {
			display: block;
		}
	}

	&__card {
		grid-column: span 5;
		box-sizing: border-box;
		padding: 26px 70px 26px;
		border-radius: 30px;
		background-color: #FFFEE4;
		border: 2px solid black;
		border-bottom-width: 7px;
		position: relative;
		z-index: 1;
		
		@keyframes fadein {
			0% {
				opacity: 0;
				transform: scale(0.95);
			}
			50% {
				z-index: 2;
			}
			100% {
				opacity: 1;
				z-index: 2;
				transform: scale(1.0);
			}
		}
			
		@include media('<=lg') {
			padding: 26px 50px 26px;
		}

		@include media('>sm') {

			&:not(:first-child) {
				margin-top: -191px;
			}
		
			&.active {
				animation: fadein 0.2s linear;
				animation-fill-mode: forwards;
			}
		}

		@include media('<=sm') {
			padding: 26px 70px 20px;

			&:not(:first-child) {
				margin-top: -40px;
			}
		
			&.active {
				#{$self}__card-points {
					max-height: 100vh;
				}
			}
		}
		
		@include media('<=xxs') {
			padding: 25px 40px;
		}
		
		&:nth-child(1) {
			grid-column: 1 / span 5;
			
			@include media('<=md') {
				grid-column: 1 / span 8;
			}
		}
		
		&:nth-child(2) {
			grid-column: 3 / span 5;
			
			@include media('<=md') {
				grid-column: 2 / span 8;
			}
		}
		
		&:nth-child(3) {
			grid-column: 6 / span 5;
			
			@include media('<=md') {
				grid-column: 3 / span 8;
			}
		}
		
		&:nth-child(4) {
			grid-column: 8 / span 5;
			
			@include media('<=md') {
				grid-column: 4 / span 8;
			}
		}
	}

	&__date {
		color: #F83821;
		font-family: "BS", sans-serif;
		text-transform: uppercase;
		font-size: 28px;
		margin-bottom: 7px;
	}
	
	&__card-title {
		font-family: "BS", sans-serif;
		text-transform: uppercase;
		font-size: 16px;
		margin-bottom: 25px;
	}

	&__card-points {
		padding-left: 25px;
		line-height: 1.5;

		@include media('<=sm') {
			transition: max-height 0.5s;
			max-height: 0;
			overflow: hidden;

			&::after {
				display: block;
				content: '';
				width: 100%;
				height: 40px;
			}
		}
		
		@include media('<=xxs') {
			font-size: 14px;			
		}
		
		li {
			list-style: disc;
		}
	}
}
